body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1f2937;
    font-size: 24px;
    display: flex;
    justify-content:space-around;
    gap: 20px;;

}

.logo {
    color: #f9FaF8;
    padding: 40px;
    font-weight: bold;
}

.right-links {
    display: flex;
    align-items:flex-start;
    padding: 10px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 8px;

}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9FaF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.body {
    background-color: #1f2937;
    display: flex;
    flex: 0 0 calc(50% - 10px);
}
.flex-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 100px;
}

.placeholder {
    display: flex;
    align-items: center;
    width: 350px;
    height: 150px;
    background-color: rgb(131, 129, 151);
    color: #f9FaF8;
    margin: 100px;
    padding: 50px;
}

.title.text {
    flex: 0 0 calc(50% - 10px);
    height: 100px;
    margin: 5px;
}

.button {
    background-color: #3882f6;
    color: #f9FaF8;
    font-size: 18px;
    border-radius: 8px;
    max-width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
}

.second-body {
    display: flex;
}

.second-header {
    text-align: center;
}

.box {
    min-height: 100px;
    min-width: 100px;
    background-color: #f9FaF8;
    border: 5px #3882f6 solid;
    border-radius: 8px;
}
